<h1><i class="sprite wall"></i> Acompanhamento do Paredão</h1>
Data limite para votos: <%= @contest.date %>

Total de votos: <%= @contest.votes.count %>

<div class="row">
  <% @contest.contestants.each do |contestant| %>
    <div class="contestant">
      <i class="sprite participant<%= contestant.id %> portrait"></i>
      <div>
        Nome: <%= contestant.name %>
      </div>
      <div>
        Qtd Votos: <%= contestant.votes.count %>
      </div>
    </div>
  <% end %>
</div>