// Place all the styles related to the Contest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contestant {
  display: inline-block;
  margin: 15px;
}