// Place all the styles related to the Vote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vote {

  #new_vote {
    [name='vote[contestant_id]'] {
      display: none;

      &:checked + div {
        border: 4px solid #FF9516;
        border-radius: 3px;
      }
    }

  }

  .humanizer {
    margin: 20px 0px;
  }
}