<% content_for :body_class, 'vote result' %>

<%= render 'title' %>
<h3>Parabéns! Seu voto para <%= @vote.contestant.name %> foi enviado com sucesso.</h3>
<h4>Acompanhe o resultado parcial:</h4>
<canvas id="partial_result" width="300" height="300" data-partial-result="<%= @partial_result.to_json %>"></canvas>
<%= link_to 'Votar novamente', votes_path, class: 'btn btn-info' %>
