<% content_for :body_class, 'vote' %>

<%= render 'title' %>
<%= form_for @vote, url: {action: 'create'} do |f| %>
  <% cache "contestants_choices", expires_in: 10.minutes do %>
  <div class="row">
  <%= f.collection_radio_buttons :contestant_id, @contestants, :id, :name do |b| %>
    <label for="vote_contestant_id_<%= b.value %>" class="participant col-md-4">
      <h3 class="title"><%= b.text %></h3>
      <%= b.radio_button %>
      <div class="sprite participant<%= b.value %>"></div>
      <div>Para eliminar o <span class="bold"><%= b.text %></span> pelo telefone, disque para <span class="bold">0800-123-00<%= b.value %></span> ou mande SMS para <span class="bold">300<%= b.value %></span></div>

    </label>
  <% end %>
  </div>
  <% end %>

  <div class="col-md-8">
    <div class="humanizer center-block">
      <%= f.label :humanizer_answer, @vote.humanizer_question %>
      <%= f.text_field :humanizer_answer %>
      <%= f.hidden_field :humanizer_question_id %>
    </div>
    <%= f.submit 'Envie seu voto agora', class: 'btn btn-info center-block' %>
  </div>
<% end %>