<!DOCTYPE html>
<html>
<head>
  <title>Globocom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield(:body_class) %> container">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, class: "alert alert-#{name}" do %>
      <span><%= msg %></span>
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    <% end %>
  <% end -%>

<%= yield %>

</body>
</html>
